<button
  type="button"
  class="success"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#modal' + index"
  (click)="onShow()"
>
  details
</button>
<div
  class="modal fade"
  id="{{ 'modal' + index }}"
  tabindex="-1"
  [attr.aria-labelledby]="'#modal---' + index"
  data-bs-backdrop="static"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ 'modal---' + index }}">
          Doctor's Detalis
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card-container justify-content-center">
          <span class="pro">PRO</span>
          <img
            class="round"
            src="https://randomuser.me/api/portraits/women/79.jpg"
            alt="user"
          />
          <h3>Dr. {{ doctor.name }}</h3>
          <h6>speciality: {{ doctor.speciality }}</h6>
          <h6>Age: {{ doctor.age }}</h6>
          <p>
            {{ doctor.email }} <br />
            Working Hours: {{ doctor.workingHours }}
          </p>

          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
