<app-doctor-add> </app-doctor-add>

<p-megaMenu [model]="items" (click)="filterBySpec($event)">
  <input type="text" pInputText class="form-control" placeholder="Search By Name" [(ngModel)]="search"
    (keyup)="searchByName($event)" />
</p-megaMenu>
<div class="row justify-content-center">
  <div class="card-container mx-2 my-2 p-4" *ngFor="let doctor of pageItems; let i = index">
    
      <button type="button" class="btn btn-warning pro" >

        <a [routerLink]="['/appointment/reserve']" [queryParams]="{id:doctor._id}" routerLinkActive="active1" 
        
        >Book</a>
      </button>

   
    <img class="round" [attr.src]="'./../../../../assets/images/users/' + doctor.photo" alt="Doctor Photo"
      style="width: 150px" />
    <h3>Dr. {{ doctor.name }}</h3>
    <h6>speciality: {{ doctor.speciality }}</h6>
    <h6></h6>
    <p>
      {{ doctor.email }} <br />
      Working Hours: {{ doctor.workingHours }}
    </p>
    <div class="buttons">
      <app-doctor-edit [doctorId]="doctor._id" [index]="i" [doctors]="pageItems"></app-doctor-edit>
      <app-doctor-details [doctorId]="doctor._id" [index]="i" [doctors]="pageItems"></app-doctor-details>
      <button class="primary ghost" (click)="deleteDoctor(doctor._id, i)">
        Delete
      </button>
    </div>
  </div>
</div>
<p-paginator #paginator [rows]="9" [totalRecords]="pageNo" (onPageChange)="page($event)"></p-paginator>