<div class="text-center">
    <h1 class="my-4 fw-bolder">Welcome To WE CARE clinics</h1>
    <h3 class="text-success text-uppercase">our duty IS TO HELP YOU 24/7</h3>
</div>

<div style="width:60%" class="mx-auto" id="GFG">
    <div style="width:100%;">
        <p-carousel class="mx-auto" [value]="images" [autoplayInterval]="3000">
            <ng-template let-images pTemplate="item">
                <div class="product-item" style="width:100%">
                    <div class="product-item-content">
                        <a (click)="sendingParameterToDoctorsService(images.title)">
                            <img [src]="images.previewImageSrc" style="overflow:hidden ;background-repeat: no-repeat;"
                                width="100%" height="auto" [alt]="images.alt" [title]="images.title"></a>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>


<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mx-0"
            style="background-image: url('../../assets/images/Doctor.jpg');  background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-dark bold-text">
                    <p class=" display-6 lh-1 fw-bold text-dark bold-text text-white">
                        {{doctorsCount}}</p> Doctors &nbsp; &nbsp; &nbsp; serve you
                </h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img src="../../assets/images/medical-logo-png-882.png" alt="Bootstrap" width="32" height="32"
                            class="rounded-circle border border-white">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
            style="background-image: url('../../assets/images/patient.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-dark bold-text">
                    <p class=" display-6 lh-1 fw-bold text-dark bold-text text-white">
                        {{patientsCount}}</p> Patients &nbsp; trust us thier lives
                </h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img src="../../assets/images/medical-logo-png-882.png" alt="Bootstrap" width="32" height="32"
                            class="rounded-circle border border-white">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
            style="background-image: url('../../assets/images/clinic.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 gradient fancy">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-dark bold-text">
                    <p class=" display-6 lh-1 fw-bold bold-text text-white">
                        {{clinicsCount}}</p> Clinics around you
                </h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img src="../../assets/images/medical-logo-png-882.png" alt="Bootstrap" width="32" height="32"
                            class="rounded-circle border border-white">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
            style="background-image: url('../../assets/images/appointment.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-dark bold-text">
                    <p class=" display-6 lh-1 fw-bold text-dark bold-text text-white">
                        {{appointmentsCount}}</p> Appointments
                    is served
                </h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <img src="../../assets/images/medical-logo-png-882.png" alt="Bootstrap" width="32" height="32"
                            class="rounded-circle border border-white">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>